{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Avaliação semestral{% endblock %}

<style>
    .scroll {
      overflow-y: auto;
    }
</style>

{% block page_content %}
<div class="page-header">

</div>
{{ wtf.quick_form(form) }}

<h2>relação de alunos cadastrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>aluno</th>
            <th>disciplina</th>
        </tr>
    </thead>
    <tbody>
        {% for key in alunos_all %}
        <tr>
            <td>{{ key.nome }}</td>
            <td>{{ key.disc }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
