{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Avaliação semestral{% endblock %}

<style>
    .scroll {
      overflow-y: auto;
    }
</style>

{% block page_content %}
<div class="page-header">
    <h1>Cadastro de Alunos</h1>
</div>
{{ wtf.quick_form(form) }}

<h2>Relação de Alunos Cadastrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome do Aluno</th>
            <th>Disciplina</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos_all %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.disciplina }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
