{% extends 'base.html' %}

{% block content %}

<h3>Cadastre um novo professor:</h3>

<form method="POST">
    <input class="form-control" name="nome" placeholder="Nome do professor"><br>

    <label>Disciplina associada:</label>
    <select name="disciplina" class="form-control">
        <option>DSWA5</option>
        <option>GPSA%</option>
        <option>IHCA5</option>
        <option>SODA5</option>
        <option>PJIA%</option>
        <option>TCOA5</option>
    </select><br>

    <button class="btn btn-primary">Cadastrar</button>
</form>

<hr>

<h3>Relação de professores cadastrados</h3>
<p><b>Data e hora local:</b> {{ hora }}</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Professor</th>
            <th>Disciplina</th>
        </tr>
    </thead>

    {% for p in professores %}
    <tr>
        <td>{{ p.nome }}</td>
        <td>{{ p.disciplina }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
